body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  overflow-x: hidden;

  .card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
}

  /* dynamic gradient background */
  background: linear-gradient(-45deg, #0f172a, #1e293b, #0ea5e9, #1e3a8a);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  padding: 60px 0;
}

.hero {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #38bdf8;
  padding-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 50px;
}

footer a {
  margin: 0 10px;
  font-size: 20px;
  color: white;
}
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials a {
  margin: 0 12px;
  font-size: 24px;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  color: #38bdf8;
  transform: scale(1.2);
}